a{
    text-decoration: none;
}
.card_item{
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}
.optionDashboard{
    background-color: #a5a8ab;
    padding: 5px;
}
.option,.subOption{
    background-color: transparent;
    color:white;
    text-align: center;
    border:0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.option:hover{
   background-color: white;
   color:black; 
}
.subOption a{
    color: #00398d;
}
.subOption a:hover{
    background-color:#000 ;
    color:#fff;
}
@media (min-width: 600px) {
    .dimension{
        width: 50%;
    } 
}
.desplazamiento{
    overflow-x: auto;
    min-width: 250px;
}
.encabezado{
    min-height:80px;
}
.boton{
    width: 170px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(50px,1fr));
    grid-auto-rows: minmax(70px, auto);
}
.grid_total{
    grid-column: 1 / 7;
}
.grid_detalleServicio{
    grid-column: 1 / 4;
}
.gridServicio{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px,1fr));
    grid-auto-rows: minmax(70px, auto);
    justify-content : space-between
}
.historial{
    display: grid;
    grid-template-columns: repeat(7, minmax(50px,1fr));
    grid-auto-rows: minmax(50px, auto);
}
.historial .cabeza{
    height: 35px;
    border-bottom: #000;
    border-bottom-style: dashed; 
    margin-bottom: 5px;
}
.historialFondo{
    background-color: #94b8ed;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}